
.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.box { 
	width: 100%; 
	height: 150px;
}
.dark_blue {
	background-color: blue;
}
.pink {
	background-color: pink;
}
.green {
	background-color: green;
}
.red {
	background-color: red;
}
.coral {
	background-color: coral;
}

@media screen and (min-width: 450px){
	.dark_blue, .coral {width: 25%;}
	.pink, .red {width: 75%}
}

@media screen and (min-width: 550px){
	.dark_blue, .green {width: 25%;}
	.pink, .red, .coral {width: 50%}
}

@media screen and (min-width: 650px) {
	.container {
		width: 635px;
		margin: auto;
		border: 5px solid black;
	}
}
