
.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.box { 
	width: 100%; 
	height: 150px;
}
.header1 {
	background-color: #DC143C; 
}
.pink {
	background-color: pink;
}
.green {
	background-color: green;
}
.footer1 {
	background-color: #FF1493;
}
.coral {
	background-color: coral;
}
.blue_violet {
	background-color: #4B0082;
}
.cornflower_blue {
	background-color: #6495ED;
}

@media screen and (min-width: 450px){
	.header1 {width: 100%; order: 1;}
	.blue_violet {width: 50%; order: 2;}
	.green{width: 50%; order: 3;}
	.footer1 {width: 100%; order: 4;}
	.pink {width: 25%; background-color: #6495ED; order: 5;}
	.coral{width: 50%; order: 6;}
	.cornflower_blue {width: 25%; order: 7;}
}

@media screen and (min-width: 550px){
	.header1, .green {width: 25%;}
	.pink, .red, .coral {width: 50%}
}

@media screen and (min-width: 650px) {
	.container {
		width: 635px;
		margin: auto;
		border: 5px solid black;
	}
}
